<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_gtanks</property>
        <property name="connection.username">subroot</property>
        <property name="connection.password">xxXX6677</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.connection.pool_size">5</property>
        <mapping class="amalgama.database.Group"/>
        <mapping class="amalgama.database.User"/>
        <mapping class="amalgama.database.UserBan"/>
        <mapping class="amalgama.database.UserItem"/>
        <mapping class="amalgama.database.UserMount"/>
    </session-factory>
</hibernate-configuration>